* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
    font-size:xx-large;
    text-align: center;
}

header {
    display: flex;
    background-color: white;
    text-align: center;
    text-orientation: upright;
}

/*Menú*/
.menu ul {
    display: flex;
    list-style: none;
}

.menu a {
    background-color:darkblue;
    color: white;
    padding: 1em;
    text-decoration: none;
    display: block;
    align-items: center;
}

.menu li {
    background-color:darkblue;
    color: white;
    text-decoration: none;
    display: block;
    align-items: center;
}

.menu a:hover {
    background-color:cornflowerblue;
}

.menu ul li ul {
    display: none;
    position: absolute;
    width: 100%;
}

.menu ul li a:hover + ul, .menu ul li ul:hover {
    display: block;
}

.menu li {
    position: relative;
    width: 100%;
    text-align: center;
}

.contenedor {
    display: flex;
    text-align: center;
}

section{
    flex: 60%;
    padding: 1em;
}

aside {
    flex: 40%;
    padding: 1em;
}

footer{
    background-color:cornflowerblue;
    text-align: center;
    padding: 1em;
}

article {
    color: black;
    font-size:medium;
    text-align: justify;
}